.title {
  background-color: rgb(125, 204, 34);
  color: rgb(88, 112, 61);
  padding: 10px;
  border-top: 4px solid rgb(86, 112, 61);
  border-bottom: 4px solid rgb(86, 112, 61);
  text-align: center;
}

.ul {
  width: 300px;
  border: 3px solid rgb(52, 146, 49);
}

li {
 color: rgb(125, 204, 34);
}

body {
  background-color: rgb(88, 112, 61);
}

.footer {
  color: rgb(125, 204, 34);
  text-align: center;
}