body {
    font-size: 20px;
}
h1 {
    font-size: 2rem;
}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

figcaption {
    margin-bottom: 20px;
}

@media (min-width: 800px) {
    figure {
        background-color: aqua;
        float:left
    }
}

@media (min-width: 1300px) {
    figure {
        background-color: aquamarine;
    }
}