<style>
		  body {
				font-size: 16px;
			}
      
      h1 {
				font-size: 65px;
				color: orange;
				font-family: sans-serif;
				line-height: 1em;
				text-align: center;
			}

			ul {
					background-color: rgb(38, 202, 202);
			}

			.blue-style {
				background-color: rgb(5, 114, 141);
				font-style: italic;
			}

			p {
				font-weight: 600;
				font-size: 3em;
				text-decoration:underline;
			}

			#li1 {
				background-color: yellow;
						}
			#li2 {
				background-color:red;
			}
			#li3 {
				background-color: brown;
			}
    </style>
